name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  format:
    name: Check code formatting
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Install Rust
      uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7 # stable branch
    - name: Run cargo fmt
      run: |
        cargo fmt --all -- --check

  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: Install Rust
      uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7 # stable branch
    - name: Build
      run: cargo build --release --locked
    - name: Run tests
      run: cargo test --release --locked
